
.chatroom{
    padding-bottom: 5px;
    border-bottom: dashed thin #CCCCCC;
}

.chatroom a:visited,.chatroom a{
    color: #2f6cb5;
}
.chatroom a:active{
    color: #94a9d0;
}

h1{
    color: #1d4c95;
}